* {
  font-family: "Pretendard";
  box-sizing: border-box;
  color: #515151;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}

input::placeholder {
  color: #ffc300;
  font-weight: 500;
  font-size: 18px;
}
